@model BTL_WebBanSach05.Models.TK_KHACHHANG

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h1>Đăng ký</h1>
    @ViewBag.dangky
    <form name="login" onsubmit="return validateForm()" action="./index.html">
        <div class="txt_field">

            @Html.EditorFor(model => model.SDT_KH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SDT_KH, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.SDT_KH, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="txt_field">
            @Html.EditorFor(model => model.MATKHAU_KH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MATKHAU_KH,"", new { @class = "text-danger" })
            <span></span>

            @Html.LabelFor(model => model.MATKHAU_KH, "Mật khẩu", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <input type="submit" value="Đăng ký" class="btn btn-default" />
        <div class="signup_link">
            <a href="#">@Html.ActionLink("Quay Lại", "DangNhap")</a>
        </div>
    </form>
}
